<template>
  <div class="admin-container">
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
            <p class="text-center neon not-selectable" v-on="on" v-on:click="alertChangeName">{{ roomName}}</p>
        </template>
        <span>Click to edit</span>
      </v-tooltip>
      <p class="tip">Use and share this link to participate in Secret Santa. When everyone will be registered in this room, 
          you can press "Start Secret Santa" and every member will get the name of his recipient.</p>
      <button class="copy" @click="doCopy()">{{ roomLink }}</button>
      <p class="tip text-center mt-1">Click above to copy the link to clipboard</p>
      <v-simple-table>
        <template v-slot:default>
        <thead>
            <tr>
            <th class="text-left">Name</th>
            <th class="text-right">✖</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="man in people" :key="man.name">
            <td>
                {{ man.name }}
            </td>
            <td class="text-right">
                <button v-on:click="alertDelete(man.name)">✖</button>
            </td>
            </tr>
        </tbody>
        </template>
    </v-simple-table>
    <v-row justify="space-around mt-5">
        <a class="not-selectable xmas-btn text-center" v-on:click="alertStart">Start Secret Santa</a>
    </v-row>
    <article v-for="(room, idx) in rooms" :key="idx">
    <h1>{{ room.name }}</h1>
    </article>
  </div>
</template>

<script>
import { db } from '../main'

export default {
  components: {

  },
  data: () => ({
      rooms: [],
      roomName: 'Название комнаты',
      people: [ 
          { name: 'Ted Mosby'},
          { name: 'Marshall Ericson'},
          { name: 'Barney Stinson'},
          { name: 'Robin Sherbatsky'},
          { name: 'Lily Aldrin'}
      ],
      roomLink: ''
  }),
  methods: {
      doCopy () {
          this.$copyText(this.roomLink)
      },
      getData () {
          this.roomLink = 'ti.loh/ipidor'
      },
      alertStart() {
        this.$swal({
            title: 'Are you sure?',
            text: 'You can\'t revert your action',
            type: 'question',
            showCancelButton: true,
            confirmButtonColor: '#0f8a5f',
            confirmButtonText: 'Yes, start it',
            cancelButtonText: 'No',
            showCloseButton: true,
            showLoaderOnConfirm: true,
            focusConfirm: false
        }).then((result) => {
          if(result.value) {
            this.$swal({
                title: 'Hooray', 
                text: 'Blah blah', 
                type: 'success',
                confirmButtonColor: '#0f8a5f',
                focusConfirm: false
            })
          }
        })
      },
      alertDelete(name) {
          this.$swal({
                customConfirmBtnClass: 'confirm',
                title: 'Are you sure?',
                text: name + ' will not paricipate in Secret Santa, you won\'t be able to revert this action',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete',
                cancelButtonText: 'No, cancel',
                confirmButtonColor: '#d33',
                showCloseButton: true,
                showLoaderOnConfirm: true,
                focusConfirm: false
          }).then((result) => {
              if(result.value) {
                  this.$swal('Hooray', 'Blah blah', 'success')
              }
          })
          },
      alertChangeName() {
            this.$swal({
              title: 'Change room name:',
              input: 'text',
              inputAttributes: {
                maxlength: '20'
              },
              inputValue: this.roomName,
                showCancelButton: true,
                confirmButtonText: "Confirm",
                confirmButtonColor: '#0f8a5f',
                cancelButtonText: "Cancel",
                showCloseButton: true,
                inputValidator: (value) => {
                    if (!value){
                        return 'You can\'t leave it empty'
                    }
                    else {
                        this.roomName = value
                    }
                }
          })
      }
      
  },
  created () {
      this.getData()
  },
  firestore () {
    return {
      rooms: db.collection('rooms')
    }
  }
}
</script>

<style lang="scss" scoped>
.confirm {
color: red;
}


.copy {
  width: 100%;
  padding: 10px 0;
  border: 2px solid rgba(0,0,0,.09);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: rgba(255,255,255,0.9);
  background: rgba(0,0,0,0);
  border-radius: 3px;
  transition: all 300ms ease;

  &:hover,
  &:focus,
  &:active {
    border-color: rgba(0,0,0,.3);
    background: rgba(255,255,255,.1);
  }
}

.icon {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

  .xmas-btn {
    width: 95%;
  }

  .admin-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    margin: auto;
    padding: 25px;
  }
</style>