<template>
  <div class="login-container">
    <v-row
      justify="center"
    >
      <v-col justify="center" class="text-center">
        <form autocomplete="off">
        <p class="tip text-left">Choose a name for your room. Users will see it on a register page:</p>
        <v-text-field
            v-model="name"
            class="mt-5 test"
            label="Room name"
            regular
            color="rgb(255, 255, 255, .7)"
            maxlength="20"
          ></v-text-field>
        <p class="tip text-left">Set a login and a secret word to have an access to your new room:</p>
        <v-text-field
          v-model="login"
          class="my-5"
          autocomplete="false"
          label="Login"
          regular
          color="rgb(255, 255, 255, .7)"
          maxlength="25"
        ></v-text-field>
        <v-text-field
          v-model="secret"
          class="my-5"
          :value="pass"
          label="Secret word"
          autocomplete="new-password"
          :append-icon="value ? '👁' : '👁'"
          @click:append="() => (value = !value)"
          :type="value ? 'password' : 'text'"
          regular
          color="rgb(255, 255, 255, .7)"
          maxlength="30"
          text-color="white"
        ></v-text-field>
        </form>
        <v-row
          justify="space-around mb-5"
        >
          <a class="not-selectable xmas-btn" v-on:click="createRoom(name, login, secret)">Create room</a>
          <a class="not-selectable create-new" href="/">Back to main page</a>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { db } from '../main'

export default {
  data: () => (
    {
      name: '',
      login: '',
      secret: '',
      started: false,
      value: String
    }
  ),
  methods: {
    createRoom (name, login, secret) {
      let started = this.started
      if (!name || !login || !secret){
        this.$swal({
          type: 'error',
          text: 'Fill in all the fields',
          confirmButtonColor: '#d33'
        })
      } else if (/\s/.test(login)) {
        this.$swal({
          type: 'error',
          text: 'f',
          confirmButtonColor: '#d33'
        })
        }
        else {
        db.collection('rooms').add({ name, login, secret, started })
        this.$swal({
          type: 'success',
          text: 'Room was created',
          confirmButtonColor: '#0f8a5f'
        }).then({
          
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>

  .xmas-btn {
    width: 95%;
  }

  .login-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 20vw;
    margin: auto;
    padding: 25px;
    border-radius: 30px;
  }
</style>