<template>
  <div class="login-container">
    <v-row
      justify="center"
    >
      <v-col justify="center" class="text-center">
        <div class="display-2 mb-5 not-selectable">
          <p class="neon">Secret Sant<span class="broken">a</span> </p>
        </div>
        <v-text-field
            class="mt-1"
            label="Login"
            outlined
            color="rgb(255, 255, 255, .7)"
          ></v-text-field>
        <v-text-field
          class="my-1"
          :value="pass"
          label="Secret word"
          autocomplete="new-password"
          :append-icon="value ? '👁' : '👁'"
          @click:append="() => (value = !value)"
          :type="value ? 'password' : 'text'"
          outlined
          color="rgb(255, 255, 255, .7)"
        ></v-text-field>
        <v-row
          justify="space-around mb-1"
        >
          <a class="not-selectable xmas-btn" href="/admin">Come in</a>
          <a class="not-selectable create-new" href="/create">Create new room</a>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>

export default {
  components: {

  },
}
</script>

<style lang="scss" scoped>

  .xmas-btn {
    width: 95%;
  }

  .login-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 20vw;
    margin: auto;
    padding: 25px;
    border-radius: 30px;
  }

</style>