<template>
<div class="tags">

    <div class="tag-container">
        <div class="tag">

            <div class="tag-side tag-1-side">
                <div class="tag-1-top"></div>
                <div class="tag-text tag-1-text not-selectable">
                    You're a secret<br />Santa for...
                    <div class="rule-shape">&#10052;</div>
                </div>
            </div>

            <div class="tag-side tag-1-side is-back">
                <div class="tag-1-top"></div>
                <div class="tag-text tag-1-text not-selectable">
                    ты пидор<br>👌
                    <div class="rule-shape">&#10052;</div>
                </div>
            </div>

        </div>
    </div>



</div>
</template>

<script>

export default {
  components: {

  },
}
</script>

<style lang="scss" scoped>
*, *:after, *:before {
  box-sizing: border-box;
}

.tags {
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 300px;
    margin: auto;
}

/* Shared */
.tag-container {
    width: 200px;
    height: 300px;
    margin: 20px;
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
}

.tag {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.tag-container:hover .tag {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.tag-side {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.tag-side.is-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 2;
}

.tag-text {
    width: 100%;
    padding: 0 20px;
    color: #fff;
    font: 20px Helvetica;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Tag 1 */
.tag-1-side:before {
    content: " ";
    background: #0f8a5f;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.tag-1-top {
    width: 100%;
    margin-top: -35px;
    position: absolute;
    top: 0;
    -webkit-transform: scale(0.775, 0.5) translate3d(0, 0, 0);
    transform: scale(0.775, 0.5) translate3d(0, 0, 0);
}

.tag-1-top:before {
    content: " ";
    background: #c4bbac;
    padding-bottom: 200px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    display: block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tag-1-side.is-back .tag-1-top:before {
    background: #e44f47;
}

.tag-1-text {
    background: #c4bbac;
    margin-top: 65px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 30px;
    position: relative;
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.tag-1-side.is-back .tag-1-text {
    background: #e44f47;
    color: #fff;
}

/* Extras */
.rule-shape {
    width: 100%;
    color: #fff;
    font-size: 34px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-self: flex-end;
}

.rule-shape:before,
.rule-shape:after {
    content: " ";
    background: #fff;
    height: 1px;
    margin-bottom: 8px;
    display: block;
    -webkit-box-flex: 2;
    flex-grow: 2;
}

.rule-shape:before {
    margin-right: 6.25px;
}

.rule-shape:after {
    margin-left: 6.25px;
}

</style>